.aboutContainer {
  background-color: black;
}

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 48px;
  color: white;
  font-size: 3.5vw;
  font-weight: 800;
  padding: 120px 32px 200px 32px;
}

.aboutItem {
  opacity: 0;
  transform: translateY(25px);
  filter: blur(8px);
  animation: textReveal 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.title {
  font-family: "Frank Ruhl Libre";
  grid-column: 4/6;
  grid-row: 1/2;
}

.arrow {
  grid-column: 5/6;
  grid-row: 2/3;
}

.arrow img {
  min-height: 100px;
}

.text {
  grid-column: 6/12;
  grid-row: 3/4;
  font-size: 1rem;
}

@keyframes textReveal {
  from {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media (max-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    font-size: clamp(1.3rem, 3.5vw, 3rem);
    font-weight: 800;
    padding: 50px 20px;
    margin: 20px 0px;
  }

  .title {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .arrow {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .arrow img {
    min-height: 100px;
  }

  .text {
    grid-column: 3/6;
    grid-row: 3/4;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}
